{% extends 'base.html' %}
{% block title %} FILES {%endblock%}
   {%block content %}

<div class="row mt-5">
 <div class="col-md-6">
 <table class="table table-dark table-striped">
   <thead>
     <tr>
       <th scope="col"> Name</th>
       <th scope="col"> Email</th>
       <th scope="col">Last Post</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td scope="row">Saidino</td>
       <td >saidino</td>
       <td >first post was detected, the post was reported to my half</td>
     </tr>

     <tr>
       <th>Help Code</td>
       <td >saidino$gmail.com</th>
       <td >first post was detected, the post was reported to my half</th>
     </tr>

     <tr>
       <th >Script Writer</th>
       <td >saidino$gmail.com</th>
       <td >first post was detected, the post was reported to my half</th>
     </tr>
   </tbody>

 </table>

</div>

 <div class="col-md-6">
   <img src="assets/small.png " class="img-fluid " width="250" height="250">
 </div>
</div>


{%endblock%}

